.Intro{
    margin: 20px auto;
}

.ImageGrid{
    height: 400px;
    max-height: 100%;
}

.ImgDiv{
    margin: 50% auto;
}

.TextGrid{
    background-color: #336e59;
    height: 400px;
    max-height: 100%;
    color: white;
}

.TextDiv{
    margin: 50% auto;
}

.TextGrid1{
    height: 400px;
    max-height: 100%;
}

.ImageGrid1{
    background-color: #336e59;
    height: 400px;
    max-height: 100%;
    color: white;
}

.Pic1{
    background-image: url('../../../Images/classroom.jpg');
    background-size: 100% 100%;
}

.Pic2{
    background-image: url('../../../Images/one-on-one.jpg');
    background-size: 100% 100%;
}

.Pic3{
    background-image: url('../../../Images/learn.svg');
    background-size: 100% 100%;
}

.Pic4{
    background-image: url('../../../Images/books.jpg');
    background-size: 100% 100%;
}