.Curriculum{
    margin: 20px auto;
}

.CurricImageGrid{
    height: 400px;
    max-height: 100%;
}

.CurricImgDiv{
    margin: 50% auto;
}

.CurricTextGrid{
    background-color: #336e59;
    height: 400px;
    max-height: 100%;
    color: white;
}

.CurricTextDiv{
    margin: 50% auto;
}

.CurricTextGrid1{
    height: 400px;
    max-height: 100%;
}

.CurricImageGrid1{
    background-color: #336e59;
    height: 400px;
    max-height: 100%;
    color: white;
}


.CurricOne{
    background-image: url('../../Images/ivy_league.jpg');
    background-size: 100% 100%;
}

.CurricTwo{
    background-image: url('../../Images/isee_ssat.png');
    background-size: 100% 100%;
}

.CurricThree{
    background-image: url('../../Images/sat_answersheet.jpg');
    background-size: 100% 100%;
}

.CurricFour{
    background-image: url('../../Images/Education.jpg');
    background-size: 100% 100%;
}
