.Curriculum{
    margin: 20px auto;
}


.CurricImageGrid{
    background-image: url('../../Images/sat_examsheet.jpg');
    height: 400px;
    max-height: 100%;
}

.CurricImgDiv{
    margin: 50% auto;
}

.CurricTextGrid{
    background-color: #336e59;
    height: 400px;
    max-height: 100%;
    color: white;
}

.CurricTextDiv{
    margin: 50% auto;
}

.CurricTextGrid1{
    background-image: url('../../Images/sat_examsheet.jpg');
    height: 400px;
    max-height: 100%;
}

.CurricImageGrid1{
    background-color: #336e59;
    height: 400px;
    max-height: 100%;
    color: white;
}



